<li class="wishlist__item wishlist-item">			

	<div class="wishlist-item__image-placeholder">
		<img class="wishlist-item__image" src="{{image}}" />	
	</div>		

	<div class="wishlist-item__content">

		<button class="wishlist-item__delete js-wishlist-delete" data-product-id="{{id}}">&times;</button>	

		<h3 class="wishlist-item__title">	
			<a class="wishlist-item__link link" href="{{link}}" target="_blank">
				{{title}}
			</a>
		</h3>

		<div class="wishlist-item__price">
		Цена: {{price}} {{currency}}
		</div>

	</div>					
			
</li>
